In [3]:
#add
print("Hello"+" World")

Hello World

In [5]:
#contains
s="Hellos World"
print("World" in s)

True

In [6]:
#equality
s = "Hello, World!"
print(s == "Hello, World!")
print(s == "Hello")

True
False

In [9]:
#format
s="World"
result=f"Hello {s}"
print(result)

Hello World

In [11]:
#access a character
s = "Hello, World!"

print(s[0]) 
print(s[7])

H
W

In [12]:
#length
s = "Hello, World!"
print(len(s))

13

In [15]:
#iterate through the string
s="hello"
for letter in s:
    print(letter)

h
e
l
l
o

In [18]:
#to check non empty string
s="World"
print(bool(s))

q=""
print(bool(q))

True
False

In [20]:
#join words
s=["Hello","World"]
result=" ".join(s)
result

'Hello World'

In [22]:
#Upper case
s="hello"
print(s.upper())

HELLO

In [23]:
s=" hello "
print(s.strip())

hello

In [24]:
#replace
s="Hello World"
print(s.replace("World", "Srushti"))

Hello Srushti

In [25]:
#Split
s="Hello World"
print(s.split())

['Hello', 'World']

In [1]:
vegetables=5
fruits=4
print(f"I have eaten {vegetables} vegetables and {fruits} fruits")

I have eaten 5 vegetables and 4 fruits

In [4]:
s="The Himalayas are one of the youngest mountain ranges on the planet."
s

'The Himalayas are one of the youngest mountain ranges on the planet.'

In [6]:
print(s[:13])

The Himalayas

In [7]:
print(s[-30:-15])

mountain ranges

In [14]:
print(s[:13],"on the planet" )

The Himalayas on the planet

In [15]:
string="There are 9 planets in the solar system"
string

'There are 9 planets in the solar system'

In [22]:
print(string.replace("9","8"))

There are 8 planets in the solar system